* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 71px;

}

.dir {
    
    color: white;
    font-size: 20px;
    margin: 5vw;
    align-items: center;

}




.esq {

    display: flex;
    margin: 5vw;
    margin-left: 5px;
    align-items: center;


}

.esq p {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    margin: 20px;
    justify-content: space-between;

}

.imagens {

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 80px;

}

img{

    width: 35vw;
    margin: 2vw;
}