@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inter;
}

.cabecalho{

    width: 100vw;
    height: 71px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho p{

    color: white;
    margin-right: 20px;
    
}

.rigth{

    display: flex;
    margin-right: 10vw;
}

.left{

    margin-left: 10vw;

}
.caixa-da-image{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100vw;

}

.caixa-da-image img{

    width: 80vw;
    
}

.textos{

    margin-left: 10vw;
    margin-top: 100px;
    
}
h1{
    
    font-size: 64px;
    font-weight: normal;

}

.textos p{

    font-size: 32px;
}